*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
.grid{
    background-color: rgb(34,34,34);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(7,1fr);
    
} 
.a{
    color: aliceblue;
  
    background-color: #f5f5fb   ;
   
    padding: 30px 0;
}
#b{
    grid-area: 1 / 1 / 2 / 3;
}
#c{
    grid-area: 2 / 1 / 7 / 2;
    position: relative;
    z-index: 1;
  
    
}
#d
{
    grid-area: 2 / 2 / 7 / 3;
    position: relative;
    z-index: 1;
    
}
#e{
    grid-area: 6 / 1 / 7 / 3;
    position: relative;
    z-index: 2;
    margin: 0 300px;
    color: #535353;

}
#f{
    grid-area: 7 / 1 / 8 / 3;
    background-color: #122853;
}  
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color:orange;
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.action-btn{
    background-color: #81aae4;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

}
.action-btn:hover{
    scale: 1.05;
    color:#fff;
}

#b{
    background-color:#2c3e50;
    color: #f4f4f9;

}

.links{
    color: white;

}
.logo{
    background-color: #81aae4;
    border-radius: 5px;
    padding: 5px;
}
.n1,.n2,.n3,.n4,.n5,.n6,.n7{
    color:#81aae4;
}
.text{
    padding:50px;
}
.text h1{
    color:#122853;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 3.6rem;
    
    

}
.text p{
    color:#535353;
    margin-bottom: 20px 0px;
    letter-spacing: 0.3px;
    line-height: 1.8rem ;
}

.text-btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text-btns a{
    height: 45px;
    padding: 0px 15px;
    background-color: #122853;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-right: 10px;
}
    
.ig img{
    width: 100%;
    height: 100%; 
    object-fit: contain;
    object-position: center;
    
    
}
#f{
    background-color: #f5f7fb;
}
#bmi{
    
    
    background-color: #f5f7fb  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#bmi .img1 img{
    background-color: #f5f7fb ;
    width: 30vw;
    height: 250px;
    padding-right: 20px;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px; */
}


#bmi .aboutcontent {
     background-color: #f5f7fb ;
    width: 70vw;
    height: 300px;
    padding: 30px;
    


    
   
}
#bmi .aboutcontent h1{
    font-weight: bold; 
    color:#122853;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 3.6rem;
}


.text-btn1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.text-btn1 a{
    height: 45px;
    padding: 0px 15px;
    background-color: #122853;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 10px;
}
#vitamin{
    
    
    background-color: #f5f7fb  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#vitamin .img1 img{
    background-color: #f5f7fb ;
    width: 30vw;
    height: 250px;
    padding-right: 20px;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px; */
}
#vitamin .aboutcontent {
     background-color: #f5f7fb ;
    width: 70vw;
    height: 300px;
    padding: 30px;
    


    
   
}
#vitamin .aboutcontent h1{
    font-weight: bold; 
    color:#122853;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 3.6rem;
}


 #family{
    
    
    background-color: #f5f7fb  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#family .img1 img{
    background-color: #f5f7fb ;
    width: 28.75vw;
    height: 250px;
   
    
}
#family .aboutcontent {
     background-color: #f5f7fb ;
    width: 70vw;
    height: 300px;
    padding: 30px;
    


    
   
}
#family .aboutcontent h1{
    font-weight: bold; 
    color:#122853;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 3.6rem;
} 


#pandemic{
    
    
    background-color: #f5f7fb  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#pandemic .img1 img{
    background-color: #f5f7fb ;
    width: 28.85vw;
    height: 250px;
   
}
#pandemic .aboutcontent {
     background-color: #f5f7fb ;
    width: 70vw;
    height: 300px;
    padding: 30px;
    


    
   
}
#pandemic .aboutcontent h1{
    font-weight: bold; 
    color:#122853;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 3.6rem;
} 


#disease {
    
    
    background-color: #f5f7fb  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#disease  .img1 img{
    background-color: #f5f7fb ;
    width: 28.85vw;
    height: 250px;
 
}
#disease  .aboutcontent {
     background-color: #f5f7fb ;
    width: 70vw;
    height: 300px;
    padding: 30px;
    


    
   
}
#disease .aboutcontent h1{
    font-weight: bold; 
    color:#122853;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 3.6rem;
} 
#myth {
    
    
    background-color: #f5f7fb  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#myth  .img1 img{
    background-color: #f5f7fb ;
    width: 30vw;
    height: 250px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px; 
}
#myth  .aboutcontent {
     background-color: #f5f7fb ;
    width: 70vw;
    height: 300px;
    padding: 30px;
    


    
   
}
#myth .aboutcontent h1{
    font-weight: bold; 
    color:#122853;
    font-size: 3.2rem;
    margin-bottom: 20px;
    line-height: 3.6rem;
} 
.footer{
    width: 100%;
    height: 80px;
    background-color: #7288b3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer svg{
    height: 20px;
    margin-right: 20px;
    
    
}

